In [3]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import API key
from config import g_key

In [5]:
# Store the CSV you created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Codrington,AU,2020-10-27 21:42:56,-38.27,141.97,55.69,84,62,7.92
1,1,Innisfail,AU,2020-10-27 21:42:56,-17.53,146.03,75.70,79,100,2.24
2,2,Busselton,AU,2020-10-27 21:42:56,-33.65,115.33,53.01,97,17,7.29
3,3,Barrow,US,2020-10-27 21:42:56,71.29,-156.79,30.20,68,90,16.11
4,4,Kashi,CN,2020-10-27 21:42:56,39.45,75.98,48.20,36,0,8.95

In [6]:
# Get the data types
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Innisfail,AU,2020-10-27 21:42:56,-17.53,146.03,75.70,79,100,2.24
9,9,Harper,LR,2020-10-27 21:42:57,4.38,-7.72,78.26,88,49,8.25
11,11,Isangel,VU,2020-10-27 21:39:19,-19.55,169.27,78.69,71,5,17.74
13,13,Atuona,PF,2020-10-27 21:42:57,-9.80,-139.03,78.96,72,1,20.40
14,14,Canavieiras,BR,2020-10-27 21:38:02,-15.68,-38.95,77.36,89,94,9.33
16,16,Rikitea,PF,2020-10-27 21:42:57,-23.12,-134.97,75.38,83,100,17.00
17,17,Soto La Marina,MX,2020-10-27 21:41:04,23.77,-98.22,84.00,68,84,10.00
20,20,Taitung,TW,2020-10-27 21:42:58,22.76,121.14,75.65,72,70,10.51
22,22,Alta Floresta,BR,2020-10-27 21:42:58,-9.88,-56.09,83.25,61,99,3.11
25,25,Hilo,US,2020-10-27 21:41:45,19.73,-155.09,80.60,78,90,5.82

In [24]:
preferred_cities_df.count()

City ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
1        Innisfail      AU     75.70 -17.53  146.03
9           Harper      LR     78.26   4.38   -7.72
11         Isangel      VU     78.69 -19.55  169.27
13          Atuona      PF     78.96  -9.80 -139.03
14     Canavieiras      BR     77.36 -15.68  -38.95
16         Rikitea      PF     75.38 -23.12 -134.97
17  Soto La Marina      MX     84.00  23.77  -98.22
20         Taitung      TW     75.65  22.76  121.14
22   Alta Floresta      BR     83.25  -9.88  -56.09
25            Hilo      US     80.60  19.73 -155.09

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Innisfail,AU,75.70,-17.53,146.03,Moondarra Motel
9,Harper,LR,78.26,4.38,-7.72,Screensaver
11,Isangel,VU,78.69,-19.55,169.27,Volcano Sea View Tree House
13,Atuona,PF,78.96,-9.80,-139.03,Villa Enata
14,Canavieiras,BR,77.36,-15.68,-38.95,Bahiadomizil
...,...,...,...,...,...,...
545,Presidencia Roque Saenz Pena,AR,75.02,-26.79,-60.44,Hotel Aconcagua
547,Mattru,SL,75.60,7.62,-11.83,Boima Gbondo's Compound
548,Eyl,SO,77.20,7.98,49.82,Amiin Hotel
551,Madang,PG,81.55,-5.22,145.80,Comfort Inn Hotel
560,Topolobampo,MX,79.00,25.60,-109.05,Hotel Marina Topolobampo

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))